{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatESG | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/progress.js' %}"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container">
        <div class="sidebar">
            <a href="/" class="logo-wrapper">
                <img src="{% static 'assets/chatESG_logo.png' %}" alt="chatESG logo">
                <h2 class="anta-regular">chatESG</h2>
            </a>
            <ul>
                <li style="border-top: 3px solid #7d2ac0;
                margin-bottom: 10px; border-bottom: 3px solid #7d2ac0">
                    <a style="color: #fff;" href="/">
                        <i class="fas fa-add"></i> 
                        New Chat
                    </a>
                </li>
            </ul>
            <ul class="history-list">
                {% for history in allChatHistories %}
                {% if name == history.name %}
                <li class="active">
                    <a class="active" href="{% url 'chatView' history.pk %}">
                        <i class="far fa-comment-alt chat-icon"></i>
                        {{history.name}}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'chatView' history.pk %}">
                        <i class="far fa-comment-alt chat-icon"></i>
                        {{history.name}}
                    </a>
                </li>
                {% endif %}
                {% empty %}
                <div style="display: flex; justify-content: center; 
                align-items: center; flex-direction: column; margin-top: 14px;">
                    <img class="no_result" src="{% static 'assets/no results.svg' %}" />
                    <span style="color: #d1d1d1b0; margin-top: 8px;">No chat history</span>
                </div>
                {% endfor %}
            </ul>
            <div class="sidebar-footer">
                <ul>
                    <li style="border-top: 1px solid #7d2ac0;"><a href="/upload-questionaire"><i class="fas fa-cloud-upload-alt"></i>Upload Questionaire</a></li>
                    <li style="border-top: 1px solid #7d2ac0;"><a href="/upload"><i class="fas fa-cloud-upload-alt"></i>Upload Docs</a></li>
                </ul>
            </div>
        </div>
        {{ response|json_script:"response" }}
        <div id="content-body">
            {% for rsp in response %}
            <div id="messages">
                <div class="user-message message">
                    <div class="message-div" style="display: flex;">
                        <div class="message-profile-pic">
                            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" height="30" width='30' />
                        </div>
                        <div class="message-content">
                            <p>{{rsp.question}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gpt-message message">
                <div class="message-div">
                    <div style="display: flex;">
                        <div class="message-logo">
                            <img src="{% static 'assets/chatESG_logo.png' %}" height="30" width='30' />
                        </div>
                        <div class="message-content">
                            {{rsp.paragraph}}
                            {% if rsp.data %}
                            <div class="canvas-wrap">
                                <canvas id="myChart{{forloop.counter}}"></canvas>
                            </div>
                            {% endif %}
                            <div class="tag-rail">
                                <div class="rail-container">
                                    <div class="rail" id="rail">
                                        {% for citation in rsp.citations %}
                                            <a href="{{citation.1}}" class="tag">{{citation.0}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="arrow-down-wrap" aria-label="{{forloop.counter}}" onclick="showMoreInfo(event)">
                                    <span aria-label="{{forloop.counter}}">More info</span>
                                    <i aria-label="{{forloop.counter}}" class="fas fa-angle-down" id="arrowDown{{forloop.counter}}"></i>
                                    <i aria-label="{{forloop.counter}}" class="fas fa-angle-up noshow" id="arrowUp{{forloop.counter}}"></i>
                                </div>
                            </div>
                            <div class="info-wrap" id="infoWrap{{forloop.counter}}">
                                {% for info in rsp.additional_info %}
                                <div class="info">
                                    <span>{{info}}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="bottom-bar">
            <div id="loader-wrap">
                <div class="loader" id="loader">
                    <img src="{% static 'assets/typing-loader.gif' %}" />
                </div>
                <span class="loader-text">Generating response...</span>
            </div>
            <form method="POST" action="" class="chat-input">
                {% csrf_token %}
                <input name="question" type="text" placeholder="Type a message..." />
                <button id="submit-button" type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/progress.js' %}"></script>
</body>
</html>